.TaskContainer
{
    width: 388px;
}

.InputSearch, .InputSearch-dark
{
    width: 100%;
    box-sizing: border-box;
}

.listTaskContainer, .listTaskContainer-dark
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    
    height: 412px;
    width: 358px;
    padding: 15px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    overflow-y: auto;
    overflow-x: hidden;

    transition: background-color ease 1s;
}

.listTaskContainer-dark
{
    background-color: #2C2C2C;
}

.listTaskContainer::-webkit-scrollbar, .listTaskContainer-dark::-webkit-scrollbar {
    width: 2px;
}

.listTaskContainer::-webkit-scrollbar-thumb, .listTaskContainer-dark::-webkit-scrollbar-thumb {
background-color: #5b9bee;
border-radius: 6px;
}

.listTaskContainer::-webkit-scrollbar-track, .listTaskContainer-dark::-webkit-scrollbar-track {
background-color: white;
border-radius: 6px;
}

.listTaskContainer-dark::-webkit-scrollbar-track
{
    background-color: #2C2C2C;
}

.listTaskContainer::-webkit-scrollbar-thumb:hover, .listTaskContainer-dark::-webkit-scrollbar-thumb:hover {
    background-color: #176cdc;
}