.PopUp
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: auto;
    z-index: 1;
}

.TaskFormContainer, .TaskFormContainer-dark
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 238px;
    width: 215px;
    background-color: white;
    padding: 10px;
    box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.2);
}

.TaskForm-buttonsList{
    margin-top: 20px;
}

.TaskFormContainer-dark{
    background-color: #1C1C1C;
}


.inputTaskTitle, .inputTaskTitle-dark, 
.TextAreaTaskDescription, .TextAreaTaskDescription-dark
{
    margin-top: 15px;
}

.TextAreaTaskDescription, .TextAreaTaskDescription-dark{
    height: 100px;
    resize: none;
}

.buttonSend, .buttonSend-dark,.buttonCancel, .buttonCancel-dark{
    border: none;
    color: white;
    background-color: #63a5fb;
    margin-top: 10px;
    height: 30px;
    width: 80px;
    padding: 5px;
    cursor: pointer;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.buttonCancel, .buttonCancel-dark
{
    background-color: #a8beeb;
    margin-left: 10px;
}

.buttonCancel:hover, .buttonCancel-dark:hover
{
    background-color: #8fa6e1;
}

.buttonCancel:active, .buttonCancel-dark:active
{
background-color: #758dd7;
}

.buttonSend:hover, .buttonSend-dark:hover
{
    background-color: #518ad6;
}

.buttonSend:active, .buttonSend-dark:active
{
    transform: scale(0.99);
    background-color: #176cdc;

}