.AddTaskButton, .AddTaskButton-dark
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 338px;
    border: 2px dashed  black;
    transition: height 0.5s ease, border-color 0.3s ease;
    cursor: pointer;
}

.AddTaskButton-dark{
    border: 2px dashed  rgb(253, 253, 253);
}

.AddTaskButton:hover, .AddTaskButton-dark:hover
{
    border: 2px dashed #5b9bee;
    color: #5b9bee;
}