body
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    transition: background-color ease 1s, color ease 0.3s;
}

.dark
{
    background-color: #1C1C1C;
    color: rgb(253, 253, 253);
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6
{
    color: #1E90FF;
}

.dark input,
.dark textarea,
#InpuImgtUI-Container-dark
{
    background-color: #414141;
    color: rgb(253, 253, 253);
}

textarea
{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: #5b9bee;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    border-radius: 6px;
    background-color: #176cdc;
}