body
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    height: 100vh;
    transition: background-color ease 1s;
}

.dark
{
    background-color: #1C1C1C;
    color: rgb(253, 253, 253);
}

.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6
{
    color: #1E90FF;
}

.dark input,
.dark textarea
{
    background-color: #414141;
    color: rgb(253, 253, 253);
}

textarea
{
    font-family: 'Roboto', sans-serif;
}